body{
	background: yellow;
	font-family: "Open Sans";
	font-size: 100%;
	font-weight: 500;
}

header, main, footer{
	min-width: 855px;
}

header .container, footer .container{
	max-width:855px;
	margin:auto;
	overflow: hidden;
}
main .container {
    max-width: 855px;
    margin: auto;
    overflow: hidden;
    /* ADD PADDING to create the white space and push the footer down */
    padding-top: 30px; 
    padding-bottom: 80px; /* This creates the desired empty space */
}
header{
	background: white;
}
main{
	background: white;
	overflow: hidden;
}

.mainnav{
	float:right;
	margin-top: 40px;
}
.head{
	float:left;
}

.img{
	float: right;
}
.maincontent{
	float:left;
	width:570px;
}
.sitemap{
	float:right;
	overflow: hidden;
}
.contact{
	float: left;
}
.sitemap-left{
	float:left;
	padding-right: 20px;
}
.sitemap-right{
	float: right;
}
h1, h2, h3, h5{
	font-family: "Roboto", sans-serif;
}
h1{
	font-size: xxx-large;
	font-style: italic;
	font-weight: 500;
	color: maroon;
	margin: 30px;
}
h2{
	font-size: xx-large;
	margin:20px;

}
h3{
	font-size: x-large;
	margin-left: 20px;
	margin-top: 50px;
}
h5{
	font-size: 1.2em;
}
a{
	color: #FF0000;
	text-decoration: none;
	padding: 5px;
}
.contact h5 {
    /* Reduce margin on the top/bottom of the Contact Us heading */
    margin: 10px 0 5px 20px; 
}

.contact p {
    /* Remove default margin and use padding for consistent spacing */
    margin: 0;
    padding-left: 20px;
    padding-bottom: 3px; /* Smaller gap between address lines */
}

/* Also check the list items in the sitemap if they have too much spacing */
.sitemap li {
    margin: 0; /* Ensure li's don't add extra vertical space */
    padding: 0;
}